# Ambiente
.env
.venv/
__pycache__/
*.pyc
*.pyo

# Dados gerados
data/raw/*.json
data/warehouse/*.duckdb
data/warehouse/*.duckdb.wal
logs/

# dbt
transform/target/
transform/dbt_packages/
transform/logs/

# Prefect
.prefect/

# IDE
.vscode/
.idea/
*.swp